@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
}
.active__link{
    position: relative;
}

.active__link::before{
    content: "";
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #3b82f6;
}

.selectedTab{
    background-color: rgb(59 130 246 / .5);
    color: white;
}

.custom__shadow{
    filter:drop-shadow(0 0 30px rgb(59 130 246 / .1));
}